<div class="header {{alterClass}}">
  <div class="logo">
    <span>LOGO</span>
  </div>
  <div [@fadeInOut] *ngIf="selectedTemplateId === 2" class="header_right">
    <span>DISCOVER MORE</span>
  </div>
</div>
<div class="content {{alterClass}}">
  <div *ngIf="selectedTemplateId === 1"></div>
  <div *ngIf="selectedTemplateId === 1" class="text-center font-double">
    <h2>{{getHeaderText(selectedTemplateId)}}</h2>
    <span [innerHTML]="getContent(selectedTemplateId)"></span>
  </div>
  <div *ngIf="selectedTemplateId === 2">
    <h2 class="font-double text-right">{{getHeaderText(selectedTemplateId)}}</h2>
    <app-carousel [carouselItemList]="getContent(selectedTemplateId)"></app-carousel>
  </div>
  <ul class="nav-btn-list">
    <li *ngFor="let template of templateList"
        [class.selected]="template.id === selectedTemplateId"
        (click)="onSelect(template)"></li>
  </ul>
</div>
<div *ngIf="selectedTemplateId === 1" class="footer">
  <a class="arrow down pointer" (click)="loadNext()">&#x2771;</a>
</div>

<video [@fadeInOut] *ngIf="selectedTemplateId === 1" autoplay [muted]="'muted'" loop class="backdrop-video"
       poster="assets/img/frame.jpg">
  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
</video>
<div [@fadeInOut] *ngIf="selectedTemplateId === 2" class="backdrop-img"></div>
