<div class="header">
  <div class="logo">
    <span>LOGO</span>
  </div>
</div>
<div class="content">
  <div></div>
  <div class="text-center font-double">
    <h2>LOREM IPSUM DOLOR</h2>
    <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.<br>Quisque volutpat mattis eros.</span>
  </div>
  <ul class="nav-btn-list">
    <li *ngFor="let template of templateList"
        [class.selected]="template.id === selectedTemplateId"
        (click)="onSelect(template)"></li>
  </ul>
</div>
<div class="footer">
  <i class="arrow down"></i>
</div>
<!--<div class="backdrop-overlay"></div>-->

<video [@fadeInOut] *ngIf="selectedTemplateId === 1" autoplay [muted]="'muted'" loop class="backdrop-video" poster="assets/img/frame.jpg">
  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
</video>
<div [@fadeInOut] *ngIf="selectedTemplateId === 2" class="backdrop-img"></div>
