@import "src/scss/variables";

.backdrop-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
  z-index: -1;
}

//.backdrop-overlay {
//  position: fixed;
//  right: 0;
//  bottom: 0;
//  min-width: 100%;
//  min-height: 100%;
//  background: white;
//  opacity: 0.5;
//  z-index: -1;
//}

.backdrop-img {
  background-image: url('/assets/img/img-1920x1200.jpg');
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  // medium
  @media screen and (max-width: 1100px) {
    background-image: url('/assets/img/img-1280x800.jpg');
  }

  @media screen and (max-width: 1100px) and (orientation: portrait){
    background-image: url('/assets/img/img-800x368.jpg');
  }

  @media screen and (max-width: 800px) {
    background-image: url('/assets/img/img-800x368.jpg');
    background-position: 50% 50%;
  }
}
//html {
//  background: url('/assets/img/img-1920x1200.jpg') no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}

.header {
  color: $text-colour;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px 0 25px;
  box-sizing: border-box;
}

.logo {
  font-size: 40px;
  color: $text-colour;
  border: 1px solid $text-colour;
  padding: 20px;
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  text-align: center;
  position: relative;

  span {
    font-weight: 300;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0;
    top: 50%;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 104px);
}

.nav-btn-list {
  list-style-type: none;
}

.nav-btn-list li {
  height: 5px;
  width: 30px;
  align-items: flex-end;
  background-color: $unselected-colour;
  margin-top: 15px;
  transition: all 0.2s ease-in-out;
  transform-origin: right;

  li:first-child {
    margin-top: 0;
  }
}

.nav-btn-list li:hover {
  background-color: $hover-colour;
  cursor: pointer;
  transform: scale(1.5, 2);
}

.nav-btn-list li.selected {
  background-color: $selected-colour;
  cursor: pointer;
  transform: scale(1.5, 2);
}

.nav-btn-list li.selected:hover {
  background-color: $selected-hover-colour;
}

.footer {
  color: $selected-colour;
  display: flex;
  align-items: center;
  justify-content: center;
}
