:host(app-carousel) {
  display: flex;
}

.item-list {
  max-width: calc(100vw - 50vw);
}

app-carousel-item {
  margin: 0 10px 0 0;
}

app-carousel-item:last-child {
  margin: 0;
}

button {
  color: white;
  //opacity: 0.5;
  align-self: center;
  margin: 0 15px;
  background: transparent;
  border: none;
}

button:disabled,
button[disabled] {
  opacity: 0.5;
}

.wrapper {
  display: flex;
  transition: transform 1s ease 0s;
}

.mask {
  width: 100%;
  overflow: hidden;
}
