:host(app-carousel) {
  display: flex;
}

.item-list {
  max-width: calc(100vw - 50vw);
}

app-carousel-item {
  margin: 0 10px 0 0;
}

app-carousel-item:last-child {
  margin: 0;
}

a {
  color: white;
  opacity: 0.5;
  align-self: center;
  margin: 0 15px;
}

.wrapper {
  display: flex;
}

.mask {
  width: 100%;
  overflow: hidden;
}
