<button (click)="prev($event, wrapper)" [disabled]="maxOffsetLeft <= 0">
  <a class="arrow pointer">&#x2770;</a>
</button>
<div class="item-list">
  <div class="mask">
    <div #wrapper class="wrapper" [style.transform]="'translateX(' + amount + 'px)'">
      <app-carousel-item *ngFor="let carouselItem of carouselItemList"
                         [carouselItem]="carouselItem"></app-carousel-item>
    </div>
  </div>
</div>
<button (click)="next($event, wrapper)" [disabled]="maxOffsetRight <= 0">
  <a class="arrow pointer">&#x2771;</a>
</button>
