.carousel-item {
  background: #fff;
  opacity: 0.5;
  width: 250px;
  height: 250px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 25px 0;
}

.header {
  margin: 0 10px;
}

.carousel-item h2 {
  margin-top: 10px;
  font-size: 1.7em;
}

.content {
  margin: 0 10px;
  font-size: 1.3em;
}
