/* You can add global styles to this file, and also import other style files */
@import "scss/variables";
@import "scss/fonts";

body {
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.arrow {
  font-weight: $bold;
  font-size: 60px;
}

.pointer {
  cursor: pointer;
}

.down {
  transform: rotate(90deg);
}

//.arrow {
//  border: solid $selected-colour;
//  border-width: 0 8px 8px 0;
//  display: inline-block;
//  padding: 8px;
//}
//
//.right {
//  transform: rotate(-45deg);
//  -webkit-transform: rotate(-45deg);
//}
//
//.left {
//  transform: rotate(135deg);
//  -webkit-transform: rotate(135deg);
//}
//
//.up {
//  transform: rotate(-135deg);
//  -webkit-transform: rotate(-135deg);
//}
//
//.down {
//  transform: rotate(45deg);
//  -webkit-transform: rotate(45deg);
//}

.font-double {
  font-size: 2em;
}
