$text-colour: #404040;
$selected-colour: #4472c4;
$selected-hover-colour: #bdbec1;
$hover-colour: #fff;
$unselected-colour: #000;

$text-colour-dark: #a6a6a6;
$unselected-colour-dark: #bfbfbf;

// primary font
$primary_font: 'Roboto';

// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;
